@font-face {
    font-family: 'element-icons';
    src: url('../fonts/element-icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.ei::before,[class*=" ei-"]::before,[class^=ei-]::before {
    display: inline-block;
    font-family: element-icons!important;
    font-style: normal;
    font-weight: 400!important;
    font-variant: normal;
    text-transform: none;
    vertical-align: -0.125em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

/* U+F55E, U+F3EA, U+F5B0, U+F18A, U+F220, U+F7CD */

.ei-skip-forward::before {
    content: "\f55e"
}

.ei-geo::before {
    content: "\f3ea"
}

.ei-geo::before {
    content: "\f3ea"
}

.ei-price::before {
    content: "\f5b0"
}

.ei-camera::before {
    content: "\f220"
}

.ei-airplane::before {
    content: "\f7cd"
}

.ei-bell::before {
    content: "\f18a"
}

