:root {
    
  --main-page-delay: 1s;
  --main-page-intro: calc(var(--text-row-duration)*7);
  --fourth-slide-zoom-in-duration: 2s;
  --fourth-slide-zoom-in-scale: 25;
  --slide: var(--fourth-slide-zoom-in-duration);
  --fourth-slide-duration: calc(var(--fourth-slide-zoom-in-duration) + var(--inspiration-images-count) * 800ms);
  --text-row-duration: 300ms;
  --inspiration-images-count: 2;
  /* intro slides durations */
  --zero-slide-duration: 3.2s;
  --first-slide-duration: 1s;
  --second-slide-duration: calc(var(--text-row-duration)*9);
  --third-slide-duration: calc(var(--text-row-duration)*8);
  /* consider 20% additional duration before zoom in starts*/
  

  /* Sizes */
  --navbar-height: 50px;
  --video-banner-max-height: 80dvh;
  --special-offer-max-height: 650px;
  --inspiration-photo-height: 500px;
  --feedback-card-max-height: 650px;
  --content-max-width: 960px;
  /* Максимальная ширина контента */
  --padding-horizontal: max(16px, calc((100vw - var(--content-max-width)) / 2));

  /* Colors */
  --black-brand-color: black;
  --black-brand-color-rgb: 0, 0, 0;
  --blue-brand-color: #007296;
  --text-light-color: white;
  --text-secondary-color: rgb(230, 230, 230);
  --text-light-color-hover: rgba(255, 255, 255, 0.8);
  --navbar-light-icons: white;
  --section_sand-color: rgba(247, 207, 152, 0.3);

  --text-accent-color: #058AB6;

  /* Shadows&borders */
  --box-shadow: 0 8px 15px rgba(var(--black-brand-color-rgb), 0.1);
  --box-shadow-hover: 0 8px 15px rgba(var(--black-brand-color-rgb), 0.3);
  --round-border: 0px none 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* hide img's alt text */
img:not([src]):not([srcset]) {
  visibility: hidden;
}

/* Fonts */
.brand-font {
  font-family: "Oswald-Regular", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.regular-font {
  font-family: "Roboto Condensed", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(12px, calc(0.8rem + .6vw), 18px);
  text-decoration-line: none;
}

@font-face {
  font-family: 'Arimo-Regular';
  src: url('../fonts/Arimo-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'),
      url('../fonts/RobotoCondensed-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald-Regular';
  src: local('Oswald Regular'), local('Oswald-Regular'),
    url('../fonts/Oswald-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.header-font {
  font-family: "Arimo-Regular", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: var(--blue-brand-color);
}

.card-header-font {
  font-family: "Arimo-Regular", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(16px, calc(1.3rem + .6vw), 36px);
  /* text-transform: uppercase; */
  color: var(--text-light-color);
}

/* Shadows */
.fadein-background-top {
  background: linear-gradient(180deg, rgba(var(--black-brand-color-rgb), 0.5) 0%, rgba(var(--black-brand-color-rgb), 0) 100%);
  transition: background 0.5s ease-in-out;
}

.fadein-background-top.scrolled {
  background: linear-gradient(180deg, rgba(var(--black-brand-color-rgb), 0.8) 0%, rgba(var(--black-brand-color-rgb), 0.3) 100%);
  transition: background 0.5s ease-in-out;
}

.fadein-background-bottom {
  background: linear-gradient(0deg, rgba(var(--black-brand-color-rgb), 0.5) 0%, rgba(var(--black-brand-color-rgb), 0) 100%);
  transition: background 0.5s ease-in-out;
}

/* Sizing */
.px-c {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}

@keyframes showHideSlide {
  0% {
      visibility: visible;
  }

  99.99999% {
      visibility: visible;
  }

  100% {
      visibility: hidden;
  }
}

/* Универсальный стиль для секций с фоновым изображением */
.background-section {
  position: relative;
}

.background-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-image, none); /* Переменная для фонового изображения */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: opacity(0.2); /* Прозрачность изображения */
  z-index: 0;
}

.background-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section_sand-color); /* Полупрозрачный цвет слоя */
  z-index: 1;
}

.background-section > * {
  position: relative;
  z-index: 2;
}

/* Buttons */
.btn-skip {
  position: absolute;
  justify-content: right;
  width: min-content;
    height: fit-content;
    padding: 0;
  border: none;
  z-index: 10;
  top: 95%;
  left: 100%;
  transform: translateY(-50%) translateX(-100%);
  cursor: pointer;

  background-color: transparent;

  border-style: none;
 background: rgba(var(--black-brand-color-rgb), 0.1);
 backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0.5em;

}

.btn-skip svg {
  color: var(--text-light-color);
  width: fit-content;
  height: fit-content;
  padding: 0.8em;
}

.btn-text {
  padding-right: 8px;
  animation-name: collapseButton;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.btn-text p {
  margin: 0;
  padding: 0;
  text-align: left;
  white-space: nowrap;
  animation-name: hideButtonText;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes collapseButton {
  from {
      width: 100%;
      
  }
  99% {
    width: 0%;
      padding: 0;
  }
  to {
    width: 0%;
      padding: 0;
      display:none;
  }
}

@keyframes hideButtonText {
  from {
      transform: translateX(0%);
      
  }
  to {
      transform: translateX(100%);
  }
}

.btn-text,
.btn-skip i {
  color: var(--text-light-color);
}

.btn-skip i {
  font-size: 24px;
  line-height: 0;
  
  filter: drop-shadow(2px 2px 2px rgba(3,3,3, 0.3));
  transition: filter 0.3s ease-in-out;
}

.btn-skip:hover i,
.btn-skip:hover .btn-text {
  color: var(--text-light-color-hover);
  
}

/* Main page */
.slide-container.main-page {
  visibility: hidden;
  
  animation-name: showMainPage, reduceHeightMainPage;
  animation-duration: 100ms, var(--main-page-delay);
  animation-delay: 
      calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration) + var(--fourth-slide-duration)),
      calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration) + var(--fourth-slide-duration) + var(--main-page-intro));
  animation-iteration-count: 1, 1;
  animation-timing-function: linear, ease-out;
  animation-fill-mode: forwards, forwards;    
}

@keyframes showMainPage {
  0% {
      visibility: visible;
  }

  100% {
      visibility: visible;
  }
}

@keyframes reduceHeightMainPage {
  from {
      opacity: 1;
      height: 100vh;
      height: 100dvh;
  }
  to {
      background: rgba(var(--black-brand-color-rgb), 0.95);
      height: 80vh;
      height: 80dvh;
  }
}

.slide-container.main-page.instant {
  visibility: hidden;
  animation-duration: 100ms, var(--main-page-delay);
  animation-delay: 0s, 0s !important;
}

.slide-container.main-page .text-column-fill {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  text-shadow: 1px 1px 2px rgba(var(--black-brand-color-rgb), 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.text-column.main-page .text-row:nth-child(1) {
  animation-duration: calc(var(--text-row-duration)*6);
  animation-delay: calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration) + var(--fourth-slide-duration) + var(--text-row-duration));
}

.text-column.main-page .text-row:nth-child(2) {
  animation-duration: calc(var(--text-row-duration)*4);
  animation-delay: calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration) + var(--fourth-slide-duration) + var(--text-row-duration)*3);
}

.text-column.main-page .text-row:nth-child(3) {
  animation-duration: calc(var(--text-row-duration)*2);
  animation-delay: calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration) + var(--fourth-slide-duration) + var(--text-row-duration)*5);
}

/* Header nav bar */
#mainNavbar {
  z-index: 1000;
  height: var(--navbar-height);
  transform: translateY(calc(var(--navbar-height) * -1));
  text-shadow: 1px 1px 2px rgba(var(--black-brand-color-rgb), 0.3);
  animation: moveDownNavBar var(--main-page-delay) ease-out calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration) + var(--fourth-slide-duration) + var(--main-page-intro)) 1 normal forwards;
}

@keyframes moveDownNavBar {
  from {
      opacity: 1;
  }
  to {
      transform: translateY(0)
  }
}

.mobile-navbar-nav {
  display: none;
  align-items: end;
}

.mobile-navbar-nav p {
  color: var(--text-light-color);
  font-style: italic;
}

.mobile-navbar-nav > * {
  margin-bottom: 1rem;
  text-align: right;
}

/* При открытии меню показываем мобильные кнопки */
.navbar-toggler[aria-expanded="true"] + .mobile-navbar-nav {
  display: flex;
}

.navbar-brand,
.navbar a
{
  transition: transform 0.3s ease-in-out;
}

.navbar svg {
  color: var(--navbar-light-icons);
}

.navbar a svg:hover {
  transform: scale(1.09) !important;
  cursor: pointer;
}

.navbar-brand:hover,
.navbar a:hover
{
  transform: scale(1.09) !important;
  cursor: pointer;
}

.navbar-toggler {
  border: none;         /* Убираем рамку */
  outline: none;        /* Убираем контур при фокусе */
  box-shadow: none;     /* Убираем тень */
  background: none;     /* Убираем фон */
  padding: 0;           /* Убираем отступы */
}

.navbarToggler.show {
  opacity: 1;
  transform: translateY(0);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler .close-icon {
  display: none;
}

.navbar-toggler[aria-expanded="true"] .burger-icon {
  display: none;
}

.navbar-toggler[aria-expanded="true"] .close-icon {
  display: inline-block;
}


/* video banner */
.video-banner {
  height: 100%;
  overflow: hidden;
}

.video-banner video {
  height: 100%;
  object-fit: cover;
}

#round-center-button {
  z-index: 10;
  text-shadow: 1px 1px 2px rgba(var(--black-brand-color-rgb), 0.3);
  animation: fadeInButton var(--main-page-delay) ease-out calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration) + var(--fourth-slide-duration) + var(--main-page-intro)) 1 normal forwards;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.1);
  min-width: 300px;
}

#round-center-button.show {
  opacity: 1;
}

#round-center-button.hide {
  opacity: 0 !important;
}

#round-center-button:hover {
  /* TODO hover effect */
  /* transform: scaleY(1.09) !important; */
  cursor: pointer;
}

@keyframes fadeInButton {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* special offers section */
.special-offer-section {
  position: relative;
}

/* special offer card */
.card {
  height: 100%;
  max-height: var(--special-offer-max-height);
  text-decoration: none;
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
  border: var(--round-border);
  box-shadow: var(--box-shadow);
}

.card:hover {
  box-shadow: var(--box-shadow-hover);
}

.card .card-image {
  object-fit: cover;
  height: 360px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.card:hover .card-image img {
  transition: transform 1s ease-in;
  transform: scale(1.05);
}

.card-image .badge {
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0.2em;
}

.card-image img {
  width: 100%;
  display: block;
}

.card-title {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    text-align: left;
}

.card-title h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 2px rgba(var(--black-brand-color-rgb), 0.3);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -moz-box;
  -moz-box-orient: vertical;
  white-space: normal;
  line-height: 1.2em;
  max-height: 2.8em;
    
}

.card-title p {
  font-size: 1em;
  line-height: 1.5em;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.card-title i::after {
  content: " ";
}


.card-body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body i {
  width: 1.5em;
}

.card-body .price-tag {
  text-align: right;
  font-size: 2em;
  font-weight: 800;
}

.card-body .price-tag span {
  font-size: 0.5em;
  font-weight: 400;
}

.card-body .card-button {
  display: flex;
  border-radius: 1em;
  border-color: var(--blue-brand-color);
  border-style: solid;
  background-color: transparent;
  color: var(--blue-brand-color);
  font-size: 16pt;
  border-width: 1px;
  text-align: center;
  justify-content: center;
  padding-left: 0.5em;
  transition: background 0.5s ease-in-out;
  /* transition: color 0.5s ease-in-out; */
}

.card-body .card-button:hover {
  background-color: var(--blue-brand-color);
  color: var(--text-light-color);
}


/* inspirations gallery */
.inspiration-container {
  position: relative; /* Родительский контейнер для фиксированных кнопок */
  width: 100%;
}


.inspiration-gallery {
  display: flex;
  flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: var(--inspiration-photo-height);
    max-height: calc(clamp(100px, 70vw, 700px) * 0.7);
    scroll-behavior: smooth;
}

.inspiration-gallery::-webkit-scrollbar {
  display: none;
}

.inspiration-gallery::-webkit-scrollbar-track {
  background-color: transparent;
}

.inspiration-image {
  width: fit-content;
  height: 100%;
  display: inline-block;
  position: relative;
}

.inspiration-image img {
  max-width: clamp(100px, 70vw, 500px);
  height: 100%;
}

.inspiration-image .inspiration-title {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: left;
}

.inspiration-image p {
  color: var(--text-secondary-color);
}

.inspiration-image .inspiration-title > * {
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 2px rgba(var(--black-brand-color-rgb), 0.3);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -moz-box;
  -moz-box-orient: vertical;
  white-space: normal;
  line-height: 1.2em;      /* Контроль высоты строки */
  max-height: 2.8em;       /* Жёсткая высота блока для двух строк */
}

.btn-scroll {
  position: absolute;
  color: white;
  border: none;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 1em;
  cursor: pointer;
  background-color: transparent;
}

/* Добавляем тень под иконку */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: drop-shadow(2px 2px 2px rgba(var(--black-brand-color-rgb), 0.6));
}
  
  
.carousel-control-next-icon {
  filter: drop-shadow(2px 2px 2px rgba(var(--black-brand-color-rgb), 1));
}

.btn-scroll.left {
  left: 1em;
}

.btn-scroll.right {
  right: 1em;
}

.btn-scroll:disabled {
  display: none;
}

/* about-us-section */
.about-us-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us-list {
  list-style: none;
}

.about-us-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 3rem;
}

.about-us-item .item-text,
.about-us-item .item-image {
  width: 50%;
  overflow: hidden;
}

.about-us-item .item-image img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 576px) {
  .about-us-item {
      flex-direction: column !important;
  }

  .about-us-item .item-text,
  .about-us-item .item-image {
      width: 100%; /* Картинка и текст занимают всю ширину */
  }

  .about-us-item .item-text {
      text-align: center !important; /* Центрируем текст на узких экранах */
  }
}

.about-us-item:nth-child(odd) {
  flex-direction: row;
}

.about-us-item:nth-child(odd) .item-text {
  text-align: left;
  padding-left: 1rem;
}

.about-us-item:nth-child(even) {
  flex-direction: row-reverse;
}

.about-us-item:nth-child(even) .item-text {
  text-align: right;
  padding-right: 1rem;
}

.about-us-item p {
  font-style: italic;
  padding: 0;
  margin: 0;
  color: rgba(var(--black-brand-color-rgb), 0.6);
}

.about-us-item h3 {
  color: rgba(var(--black-brand-color-rgb), 1);
}

/* feedback carousel */

/* #carouselFeedback .carousel-inner {
  width: fit-content
} */

.feedback-item {
  width: 100vw;
  height: fit-content;
}

.feedback-item img {
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border: var(--round-border);
  max-height: var(--feedback-card-max-height);
}

.feedback-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
    overflow-y: hidden;
    /* height: var(--inspiration-photo-height); */
    max-height: calc(clamp(100px, 70vw, 700px) * 0.7);
    scroll-behavior: smooth;
}

.feedback-list::-webkit-scrollbar {
  display: none;
}

.feedback-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.contacts-section {
  text-align: left;
}

.contacts-section strong {
  white-space: nowrap;
}




.pending-animation {
  display: none;
}

.pending-animation.animation {
  display: block;
}

/* First slide */
.slide-container.first-slide {
  visibility: hidden;
  animation-name: showHideSlide;
  animation-duration: var(--first-slide-duration);
  /* animation-delay: var(--zero-slide-duration); */
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.start-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Second and Third slides */
.slide-container.second-slide,
.slide-container.third-slide {
  position: relative;
 }

.slide-container.second-slide {
  background-color: var(--black-brand-color);
  visibility: hidden;

  animation-name: showHideSlide;
  animation-duration: var(--second-slide-duration);
  animation-delay: calc(var(--first-slide-duration));
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.text-column {
  max-width: 768px;
  width: 100vw;
  height: 100vh;
  text-transform: uppercase;
  color: var(--text-light-color);

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.text-row {
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  visibility: hidden;
  animation-name: showHideTextRow;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* Анимация появления */
@keyframes showHideTextRow {
  from {
      visibility: hidden;
  }

  1% {
      visibility: visible;
  }
  
  99% {
    transform: scale(1);
  }

  to {
      visibility: hidden;
  }
}

/* Установка задержек для дочерних элементов */
.text-column.second-slide .text-row:nth-child(1) {
  animation-duration: calc(var(--text-row-duration)*8);
  animation-delay: calc(var(--first-slide-duration) + var(--text-row-duration));
}

.text-column.second-slide .text-row:nth-child(2) {
  animation-duration: calc(var(--text-row-duration)*6);
  animation-delay: calc(var(--first-slide-duration) + var(--text-row-duration)*3);
}

.text-column.second-slide .text-row:nth-child(3) {
  animation-duration: calc(var(--text-row-duration)*4);
  animation-delay: calc(var(--first-slide-duration) + var(--text-row-duration)*5);
}

.text-column.second-slide .text-row:nth-child(4) {
  animation-duration: calc(var(--text-row-duration)*2);
  animation-delay: calc(var(--first-slide-duration) + var(--text-row-duration)*7);
}




.slide-container.third-slide {
  background-color: var(--black-brand-color);
  visibility: hidden;

  animation-name: showHideSlide;
  animation-duration: var(--third-slide-duration);
  animation-delay: calc(var(--first-slide-duration) + var(--second-slide-duration));
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.text-column.third-slide .text-row:nth-child(1) {
  animation-duration: calc(var(--text-row-duration)*8);
  animation-delay: calc(var(--first-slide-duration) + var(--second-slide-duration));
}

.text-column.third-slide .text-row:nth-child(2) {
  animation-duration: calc(var(--text-row-duration)*6);
  animation-delay: calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--text-row-duration)*2);
}

.text-column.third-slide .text-row:nth-child(3) {
  animation-duration: calc(var(--text-row-duration)*4);
  animation-delay: calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--text-row-duration)*4);
}

.text-column.third-slide .text-row:nth-child(4) {
  animation-duration: calc(var(--text-row-duration)*2);
  animation-delay: calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--text-row-duration)*6);
}

/* Fourth slide */
.slide-container.fourth-slide {
  visibility: hidden;

  animation-name: showHideSlide;
  animation-duration: var(--fourth-slide-duration);
  animation-delay: calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration));
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.slide-container.fourth-slide .text-column-fill {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: var(--black-brand-color);
  mix-blend-mode: darken;

  will-change: transform;
  
  animation: zoomInText var(--fourth-slide-zoom-in-duration) cubic-bezier(0.8, 0, 1, 1) 
             calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration)) forwards,
             hideElement 100ms linear 
             calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration) + var(--fourth-slide-duration)) forwards;
}

.slide-container.fourth-slide .background {
  width: 100vw;
  height: 100dvh;
  height: 100vh;
  /* overflow: hidden; */
  position: absolute;

  animation-name: hideElement;
  animation-duration: 10ms;
  animation-delay: calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration) + var(--fourth-slide-duration));
  animation-iteration-count: 1;
  
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.slide-container.fourth-slide .text-column-fill .text-column {
  background-color: var(--black-brand-color);
  
}

@keyframes zoomInText {
  0% {
      visibility: visible;
      transform: scale(1);
      opacity: 1;
  }
  90% {
      opacity: 1;
  }
  to {
      transform: scale(var(--fourth-slide-zoom-in-scale));
      opacity: 0;
  }
}

.slide-container.fourth-slide .text-row {
  visibility: hidden;
  animation-duration: var(--fourth-slide-duration);
  animation-delay: calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration));
}

.insp-slideshow {
  /* position: absolute; */
  object-fit: cover;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.insp-text {
  top: 1em;
  font-size: 1.1em;
  line-height: 1em;
  font-style: italic;
  text-overflow: ellipsis;
}

.slide-container.fourth-slide .background .text-block {
  height: 5em;
  font-size: clamp(1rem, 3.5vw, 3rem);
  position: absolute;
  top: calc(100vh - 5em);
  top: calc(100dvh - 5em);
  width: 100vw;
  text-align: left;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  transition: background 0.5s ease;
  opacity: 1;
}

@keyframes showElement {
  from {
      opacity: 0;
  }

  20% {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes hideElement {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
      visibility: hidden;
  }
}

.slide-container.fourth-slide .background h2 {
  display: inline-flex;
  gap: 0.5em;
  color: white;
  margin: 0 0 0 1em;
  padding: 0;
  height: 5em;
}

.slide-container.fourth-slide .background h2 .rotate {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  height: 5em;
  clip-path: inset(0 0 0 0);
  width: calc(90vw - 1em);
}

.slide-container.fourth-slide .background h2 .rotate span {
  position: absolute;
  top: 5em;
  height: 5em;
  font-size: 1.1em;
  line-height: 1em;
  font-style: italic;
  text-overflow: ellipsis;

  animation: rotateText var(--duration) cubic-bezier(0.4, 0, 0.2, 1) 
             calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration) + var(--fourth-slide-zoom-in-duration) + var(--delay)) forwards,
             hideElement 10ms linear 
             calc(var(--first-slide-duration) + var(--second-slide-duration) + var(--third-slide-duration) + var(--fourth-slide-zoom-in-duration) + var(--delay) + var(--duration)) forwards;

  animation-iteration-count: 1;
  animation-direction: normal;

  transform-origin: center center; /* Центр вращения */
  perspective: 1000px; /* Добавляем 3D-эффект */
  backface-visibility: hidden; /* Убираем артефакты */
}

.slide-container.fourth-slide .viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slide-container.fourth-slide .sprite-container {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  object-position: left center;
  transform-origin: left top;
}

.slide-container.fourth-slide .sprite-container picture{
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  object-position: left center;
  transform-origin: left top;
}

#sprite {
  display: block;
  width: 100%;
  height: 100%;

}

@keyframes rotateText {
  0% {
    transform: translateY(0) rotateX(5deg);
    opacity: 1;
  }
  20% {
    transform: translateY(-5em) rotateX(0);
    opacity: 0.9;
  }
  80% {
    transform: translateY(-5em) rotateX(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10em) rotateX(5deg);
    opacity: 1;
  }
}
