:root {
    --black-brand-color: black;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* Containers */
.slide-container {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    justify-items: center;
    text-align: center;
    position: absolute;
}

/* Zero slide with logo */
.slide-container.zero-slide {
    background-color: var(--black-brand-color);
    display: grid;
  }
  
  .logo {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .zero-slide ~ [class*="-slide"] {
    visibility: hidden;
  }

  .pending-animation {
    display: none;
  }
  
  .pending-animation.animation {
    display: block;
  }
  